

<div class="container">
  <div class="page-header">
    <h1>All pizzas:</h1>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pizza name</th>
        <th>Pizza maker</th>
        <th>Stars</th>
        <th>Comment</th>

      </tr>
    </thead>
    <tbody>
      <% @pizzas.each do |pizza|  %>
        <tr>

        <td><%= link_to pizza.name, pizza_path(pizza) %></td>


        <td><strong><%= link_to pizza.user.name, user_pizzas_path(pizza.user) %></strong></td>

          <td>*<%= pizza.rating.stars %></td>
          <td><%= pizza.rating.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>