
<% @pizzas.each do |pizza| %>
    <h2><%= link_to pizza.name, pizza_path(pizza) %></h2>

    <p>All Pizzas by: <strong><%= link_to pizza.user.name, user_pizzas_path(pizza.user) %></strong></p>

    <h4>Pizza stars: *<%= pizza.rating.stars %></h4>
    <h4>Pizza comment: <%= pizza.rating.comment %></h4>
    </br>
<% end %>

