
<% @pizzas.each do |pizza| %>
    <h4><%= link_to pizza.name, pizza_path(pizza) %></h4>

    <h4>Pizza stars: *<%= pizza.rating.stars %></h4>
    <h4>Pizza comment: <%= pizza.rating.comment %></h4>
    </br>
<% end %>

