<h1 class= "a-home2"><em>Welcome <%= @user.name %><em></h1>
<p class= "a-primary">Email: <%= @user.email %></p>
<p><%= link_to '--> Create a new Pizza <--', new_user_pizza_path(@user.id), class: "a-primary2" %></p>


<% if Pizza.exists?(user_id: current_user.id) %>
<h2><em><font color="white">Here are all your pizzas:</font><em></h2>

<div class= "a-six" >
<% Pizza.all.each do |pizza| %> 
<% @pizza = pizza %>

<% if @pizza.user == current_user %>

<%= render 'pizzas/show' %>

<% end %>
<% end %>
<% end %>
</div>
