<h1><em><font color="white">Welcome <%= @user.name %></font><em></h1>

<% if @user.admin %>
<p>ADMIN</p>
<% end %>


<p class= "a-primary">Email: <%= @user.email %></p>

<p><%= link_to 'Create a new Pizza', new_user_pizza_path(@user.id), class: "a-primary" %></p>

