/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .a-primary{
    color:#CED0FB;
    font-size: 20px;
}

.a-primary2{
    color:rgb(147, 220, 253);
    font-size: 23px;
}

.a-secondary{
    color:#81F7E1;
}

.a-six{
    color:#0E1896;
    background-color:rgba(207, 189, 127, 0.7) ;
    margin-right: 80em;
    border-radius: 25px;
    border: 2px solid rgb(148, 125, 76);
    padding: 5px; 
}

.a-forth{
    color:red;
}

.newtable{
    color:white;
    font-size: 40px;
}



.a-name{
    color:rgba(4, 12, 133, 0.6);
    font-weight: bold;
    padding-top: 40px;

}

.a-show{
    color:rgba(2, 42, 92, 0.6);
    font-weight: bold;
}

.a-seven{
    color:#0E1896;
    background-color:rgba(206, 184, 110, 0.6) ;
    margin-right: 30em;
    border-radius: 25px;
    border: 2px solid rgb(85, 94, 52);
    padding: 5px; 
}

.a-home{
    color:rgba(56, 2, 2, 0.6);
    font-weight: bold;
    font-size: 55px;
    padding-top: 40px;
}

.a-home2{
    color:rgba(56, 2, 2, 0.6);
    font-weight: bold;
    font-size: 55px;
}

.user{
    color:rgba(255, 184, 162, 0.6) ;
    font-size: 40px;
}

.a-sign{
    color:rgba(34, 1, 1, 0.6);
    font-weight: bold;
    font-size: 20px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color:rgba(206, 184, 110, 0.6) ;
    border-radius: 15px;


    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 15%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 37px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .a-error{
    color:red;
    background-color:rgba(206, 184, 110, 0.6) ;
    margin-right: 80em;
}

.a-name1{
    color:rgba(4, 12, 133, 0.6);
    font-weight: bold;
    font-size: 35px;
}




table.blueTable {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 42%;
    text-align: left;
    border-collapse: collapse;
    opacity: 0.8;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 20px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #A49715;
    background: -moz-linear-gradient(top, #bbb14f 0%, #ada12c 66%, #A49715 100%);
    background: -webkit-linear-gradient(top, #bbb14f 0%, #ada12c 66%, #A49715 100%);
    background: linear-gradient(to bottom, #bbb14f 0%, #ada12c 66%, #A49715 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }