<% if @user.errors.any? %>
  <div class = "fields_with_errors">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><em><font color="red"><%= msg %></font><em></li>
    <% end %>
    </ul>
  </div>
<% end %>